@import url(__title/contacts__title.css);
@import url(__content/contacts__content.css);
@import url(__image/contacts__image.css);
@import url(__block/contacts__block.css);
@import url(__block-title/contacts__block-title.css);

.contacts {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
}