.info__block-bage {
    font-size: 30px;
    line-height: 30px;
    padding: 5px;
    margin-left: 10px;
    background-color: #30aa3c;
    border-radius: 24px;
    color: #fff;
    margin-top: -50px;
    vertical-align: top;
}

@media (max-width: 579px) {
    .info__block-bage {
        font-size: 16px;
        line-height: 16px;
        margin-left: 5px;
    }
}
@media (max-width: 386px) {
    .info__block-bage {
        line-height: 30px;
    }
}