.history__card-title {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 20px;
}

@media (max-width: 579px) {
    .history__card-title{
        font-size: 36px;
        line-height: 42px;
    }
}