.info__block-title {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}

@media (max-width: 579px) {
    .info__block-title {
        font-size: 36px;
        line-height: 42px;
    }
}